* @jzuniga-amd @tfalders @cgmb @qjojo
# Documentation files
docs/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo
*.md @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo
*.rst @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo
# Header directory for Doxygen documentation
library/include/* @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo
