# By default, convert all text files to Unix line endings on check-in
# and native line endings on check-out
*          text=auto

# Override the default behavior for specific files
*.sh       text eol=lf
*.bat      text eol=crlf

# Reduce merge conflicts in changelog
/CHANGELOG.md merge=union
